<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="manifest" href="/site.webmanifest" />
{% if page.redirect_to %}
<link rel="canonical" href="{{ page.redirect_to }}"/>
<meta http-equiv="refresh" content="0; url={{ page.redirect_to }}" />
<title>Redirecting...</title>
<script>
    // JavaScript fallback in case meta refresh doesn't work
    window.location.href = "{{ page.redirect_to }}";
</script>
{% endif %}
{% include analytics.html %}